/* ----- Navigation styles -----*/
#nav-logo {
	height: 100%;
}

.navbar-brand {
	height: 25vh;
	max-height: 140px;
}

/* ----- Hero Image styles -----*/
.jumbotron {
	background-image: url('assets/journey-man-1348078-unsplash.jpg');
/*	background-image: url('assets/sumeyye-bozkus-1348546-unsplash.jpg');
*/	background-position: center;
	background-size: cover;
	height: 40vh;
}

/* ----- About Section styles -----*/

#about {
	text-align: center;
	line-height: 2.0;
}

/* ----- Events Section styles -----*/

#events {
	text-align: center;
}

.card {
	height: 50vh;
}

img {
	height: 100%;
}

.event-location {
	font-size: 1.7rem;
}

.event-date {
	font-size: 1.3rem;
}